:root {
    background-color: rgb(29,26,26);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: monospace;
}

h1 {
    font-size: 5.4rem;
    color:#fff;
    margin-bottom: 5rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center {
    text-align: center;
}

body {
    color: #fff;
}

.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18,93,255);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4 0 rgba(6,103,247,0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text{
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41,232,111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224,11,11, 1) 100%);
}

/* heads up display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix{ 
    text-align:center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid cornflowerblue;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progreeBarFull {
    height: 100%;
    background: cornflowerblue;
    width: 0%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .choice-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    width: 15rem;
    height: 15rem;
    border: 0.2rem solid blanchedalmond;
    ;
    border-radius: 4px;
    background: blanchedalmond;
    font-size: 3rem;
    color: black;
    cursor: grab;
  }
  
  .choice-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0.4rem 1.4rem 0 blanchedalmond;
  }
  
  .drop-text {
    font-size: 2rem;
    color: white;
    padding: 2rem;
    width: 100%;
    text-align: center;
    border: 0.2rem dashed white;
    border-radius: 4px;
  }

@media screen and (max-width: 760px) {
    .choice-container {
        min-width: 40rem;
    }
}