body {
    padding: 0;
    margin: 0;
    display:inline;
    justify-content: center;
    background-color: gainsboro;
    align-items: center;
    width: 100vw;
    height:100vh;
    font-family: monospace;
}

.container{
    width: 800px;
    max-width: 80%;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-width: 4px;
    border-style: inset;
    background-color: ghostwhite;
    border-color: gray;
    font-family: monospace;
    font-size: x-large;
}

.container1{
    width: 800px;
    max-width: 80%;
    padding: 25px;
    margin-left: 24%;
    margin-top: 15%;
    font-family: monospace;
    justify-content: right;
    font-size: x-large;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(1, 48%);
    gap: 10px;
    justify-content: right;
}

.btn {
    padding: 10px 10px;
    outline: none;
    font-family: monospace;
    border-style: inset;
    border-width: 3px;
    border-color: gray;
    border-radius: 15px;
    background-color: blanchedalmond;

}

.btn:hover {
    background-color: cornflowerblue;
}

.charName {
    color: cornflowerblue;
    text-align: center;
    margin-bottom: 2.5%;
}